header{
    background-image: url(../Assets/Hero-bg.png); 
    max-width: 1440px;
    height: 698px;
}

/* nav style */

.navbar{
    max-width: 1140px;
    height: 151px;
    margin: 0 150px 150px 150px;
    display: flex;
    justify-content: space-between;
}
.navbar h2{
    color: #4E47FF;
    font-size: 40px;
    margin: 50px 0;
    font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
   font-weight: 900;
   font-style: normal;
}
.signup-button{
    font-size: 16px;
    margin: 51.5px 0;
    padding: 10px 15px;
    background-color: #4E47FF;
    color: #ffffff;
    border: 0px;
    border-radius: 10px;
}

/* intro style */

.intro{
    font-family: "Raleway", sans-serif;
    max-width: 905px;
    height: 237px;
    margin: 158px 267px 152px 267px;
    text-align: center;
    font-size: 33px;
    font-weight: bold;
}
.stayfocused-button{
    font-size: 16px;
    padding: 10px 15px;
    background-color: #4E47FF;
    color: #ffffff;
    border: 0px;
    border-radius: 10px;
}

/* main section style */


/* ABOUT SECT STYLE */
.about{
    max-width: 1140px;
    height: 328px;
    display: flex;
    justify-content: space-between;
    margin: 116px 150px;
    
}
.details{
    margin-top: 62.5px;
    margin-bottom: 62.5px;
    max-width: 517px;
    font-family: "Raleway", sans-serif;
    
}
.details h2{
    font-size: 42px;
    font-weight: bold;
}
.details p{
    color: #323036;
    opacity: 50%;
    font-size: 24px;

}
.launch-button{
    font-size: 16px;
    padding: 10px 15px;
    background-color: #4E47FF;
    color: #ffffff;
    border: 0px;
    border-radius: 10px;
}
.about img{
    border-radius: 42px;
}
/* Button hover effect */
.btn:hover{
    background-color: rgb(129, 241, 10);
    color: black;
    font-size: 17px;
    cursor: pointer;
    transition:0.5s;
}